# See https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates#package-ecosystem
version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    # Interdependent
    ignore:
      - dependency-name: "k8s.io/api"
      - dependency-name: "k8s.io/apimachinery"
      - dependency-name: "k8s.io/client-go"
      - dependency-name: "sigs.k8s.io/controller-runtime v0.9.7"
  - package-ecosystem: "github-actions"
    directory: "/.github"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "monthly"
