<script>

    //create the html element with the version string
    function WarningElement(current, latest) {
        let RawElement = `
        <div class="alert alert-warning" role="alert">
            <h3>
                You are viewing documentation for Karpenter version: ${current}
            </h3>
            <p> Karpenter ${current} documentation is not the latest stable release. The version you are currently viewing is a static snapshot. For up-to-date documentation, see the
                <a href="/${latest}">latest version.</a>
            </p>
        </div>
        `
        let TemplateElement = document.createElement('div')
        TemplateElement.innerHTML = RawElement

        return TemplateElement
    }

    //create the html element with the version string
    function PrereleaseElement(current, latest) {
        let RawElement = `
        <div class="alert alert-warning" role="alert">
            <h3>
                You are viewing pre-release documentation for Karpenter
            </h3>
            <p> Karpenter pre-release documentation is under active development. The documentation, and included APIs, are unstable. For up-to-date documentation, see the
                <a href="/${latest}">latest version.</a>
            </p>
        </div>
        `
        let TemplateElement = document.createElement('div')
        TemplateElement.innerHTML = RawElement

        return TemplateElement
    }

    //determine if path is /v1-docs/ (archived) or /docs/ (latest)
    const match = window.location.pathname.match(new RegExp ('((v([0-9]|\\.)+)|(preview))'))
    if (match.length > 0) {
        const versions = Array.from(document.querySelectorAll(".dropdown-item")).map(o => o.innerText)
        const latest = versions[0]
        const current = match[1]

        const header = document.querySelector(".td-content > h1")

        if (current == "preview"){
            header.parentNode.insertBefore(PrereleaseElement(current, latest), header)
        } else if (current != latest) {
            header.parentNode.insertBefore(WarningElement(current, latest), header)
        }
    }
</script>
