apiVersion: v2
name: karpenter
description: A Helm chart for Karpenter, an open-source node provisioning project built for Kubernetes.
type: application
version: 1.1.1
appVersion: 1.1.1
keywords:
  - cluster
  - node
  - scheduler
  - autoscaling
  - lifecycle
home: https://karpenter.sh/
icon: https://repository-images.githubusercontent.com/278480393/dab059c8-caa1-4b55-aaa7-3d30e47a5616
sources:
  - https://github.com/aws/karpenter-provider-aws/
annotations:
  artifacthub.io/alternativeName: karpenter-provider-aws
  artifacthub.io/crds: |
    - kind: EC2NodeClass
      version: v1beta1
      name: ec2nodeclasses.karpenter.k8s.aws
      displayName: EC2NodeClass
      description: EC2NodeClass is the Schema for the EC2NodeClass API.
    - kind: NodeClaim
      version: v1beta1
      name: nodeclaims.karpenter.sh
      displayName: NodeClaim
      description: NodeClaim is the Schema for the NodeClaims API.
    - kind: NodePool
      version: v1beta1
      name: nodepools.karpenter.sh
      displayName: NodePool
      description: NodePool is the Schema for the NodePools API.
