/*

Add styles or override variables from the theme here.

*/

// Color palette
$primary: #5c64ab;

$dark: #232F3E;
$light: #f8f9fa;

// Global styles
$enable-gradients: false;
$enable-rounded: false;
$enable-shadows: false;
$enable-responsive-font-sizes: true;

// Typography
// Primary font
$google_font_name: "Poppins";
$google_font_family: "Poppins:300,300i,400,400i,600,600i";
$font-weight-body-text: 300 !default;

// Landing page styles
// Navigation
nav.navbar-dark {
  a.navbar-brand span {
    text-transform: none !important;
  }

  .navbar-nav a.nav-link {
    color: white;
    text-shadow: none;

    &:hover,
    &:active {
      color: rgba(255, 255, 255, 0.8)
    }
  }
}

// Hero
.hero {
  .display-1 {
    font-weight: 700;
    font-size: 3.5rem;
    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }
}

// Features
.feature {
  .h1 {
    font-size: 8rem;
  }

  .h3 {
    font-weight: bold;
  }

  code.provisioner {
    color: $light;
  }
}