/*

Add styles or override variables from the theme here.

*/

// Color palatte (AWS branding)
//$primary: #00A0C8;
//$primary: #232F3E;
$primary: #5c62b0;
$secondary: #8890e2;
$success: #69AE35;
$info: #007DBC;
$warning: #FF9900;
$danger: #FF5745;

$dark: #232F3E;
$light: #f8f9fa;

// Global styles
$enable-gradients: false;
$enable-rounded: false;
$enable-shadows: false;
$enable-responsive-font-sizes: true;

// Typography
// Primary font
$google_font_name: "Raleway";
$google_font_family: "Raleway:300,300i,400,400i,700,700i";

// Brand font
$google_brand_font_name: "Poppins";
$google_brand_font_family: "Poppins:400,400i,700,700i";
$google_brand_web_font_path: "https://fonts.googleapis.com/css?family=#{$google_brand_font_family}&display=swap";
@import url($google_brand_web_font_path);

// Landing page styles
// Navigation
.navbar-dark {
  .navbar-brand {
    font-family: $google_brand_font_name;
  }

  .navbar-nav a.nav-link {
    color: white;
    text-shadow: none;

    &:hover,
    &:active {
      color: rgba(255, 255, 255, 0.8)
    }
  }
}

// Hero
.hero {
  .display-1 {
    font-family: $google_brand_font_name;
    font-weight: 700;
    font-size: 3.5rem;
    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }
}

// Features
.feature {
  .h1 {
    font-size: 8rem;
  }

  .h3 {
    font-weight: bold;
  }
}

