name: CI-TEST
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  ci-test:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          k8sVersion: ["1.23.x", "1.24.x", "1.25.x", "1.26.x", "1.27.x", "1.28.x"]
    env:
      K8S_VERSION: ${{ matrix.k8sVersion }}
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/install-deps
    - run: make ci-test
    - uses: shogo82148/actions-goveralls@v1
      if: env.K8S_VERSION == '1.24.x'
      with:
        path-to-profile: coverage.out
