name: CI
on:
  push:
    branches:
      - 'main'
      - 'release-v*'
      - 'staging/*'
  pull_request:
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-latest
    if: github.repository == 'aws/karpenter-provider-aws'
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ./.github/actions/install-deps
    - name: Enable the actionlint matcher
      run: echo "::add-matcher::.github/actionlint-matcher.json"
    - run: make ci-non-test
      shell: bash
