name: E2ESoakTrigger
on:
  schedule:
    - cron: '0 */3 * * *'
jobs:
  resolve_cluster:
    permissions:
      id-token: write # aws-actions/configure-aws-credentials@v4.0.1
    if: github.repository == 'aws/karpenter-provider-aws'
    runs-on: ubuntu-latest
    outputs:
      PREEXISTING_CLUSTERS: ${{ steps.list_clusters.outputs.PREEXISTING_CLUSTERS }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708
      with:
       role-to-assume: arn:aws:iam::${{ vars.CI_ACCOUNT_ID }}:role/${{ vars.CI_ROLE_NAME }}
       aws-region: eu-north-1
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: test/hack/soak/go.mod
        cache-dependency-path: test/hack/soak/go.sum
        check-latest: true
        cache: false
    # Grab all the names of the soak testing clusters, and identify clusters that will need to be deleted
    # Empty cluster_name will indicate that a new cluster will be created
    - id: list_clusters 
      name: "Run list clusters script"
      run: |
        PREEXISTING_CLUSTERS="$(go run get_clusters.go)" 
        echo PREEXISTING_CLUSTERS="$PREEXISTING_CLUSTERS" >> "$GITHUB_OUTPUT"
      working-directory: ./test/hack/soak
      shell: bash
  soak:
    permissions:
      id-token: write # aws-actions/configure-aws-credentials@v4.0.1
      statuses: write # required by e2e.yaml
    needs: [resolve_cluster]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.resolve_cluster.outputs.PREEXISTING_CLUSTERS) }}
    uses: ./.github/workflows/e2e.yaml
    with:
      suite: Integration
      region: eu-north-1
      workflow_trigger: "soak"
      cluster_name: ${{ matrix.cluster_name }}
      cleanup: ${{ matrix.cluster_cleanup }}
      git_ref: ${{ matrix.git_ref }}
      source: aws
    secrets:
      SLACK_WEBHOOK_SOAK_URL: ${{ secrets.SLACK_WEBHOOK_SOAK_URL }}
