name: PostSubmit
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  postsubmit:
    if: github.repository == 'aws/karpenter-provider-aws'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/install-deps
      - name: hydrate-goproxy
        run: |
          mkdir -p hydrate-goproxy
          cd hydrate-goproxy
          go mod init hydrate-goproxy
          go get "github.com/${GITHUB_REPOSITORY}@${GITHUB_SHA}"