name: PostSubmit
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  postsubmit:
    if: github.repository == 'aws/karpenter-provider-aws'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/install-deps
      - name: hydrate-goproxy
        run: |
          mkdir -p hydrate-goproxy
          cd hydrate-goproxy
          go mod init hydrate-goproxy
          go get "github.com/${GITHUB_REPOSITORY}@${GITHUB_SHA}"