name: Snapshots
on:
  push:
    branches: [ main ]
permissions:
  id-token: write
jobs:
  snapshots:
    if: github.repository == 'aws/karpenter'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-go-and-dependencies
      - uses: ./.github/actions/authenticate-aws
      - run: make release
