name: StaleBot
on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'
jobs:
  StaleBot:
    runs-on: ubuntu-latest
    permissions:
      issues: write # actions/stale@v8.0.0
      pull-requests: write # actions/stale@v8.0.0
    if: github.repository == 'aws/karpenter-provider-aws'
    name: Stale issue bot
    steps:
      - uses: actions/stale@1160a2240286f5da8ec72b1c0816ce2481aabf84 # v8.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'This issue has been inactive for 14 days. StaleBot will close this stale issue after 14 more days of inactivity.'
          exempt-issue-labels: 'bug,chore,feature,documentation,testing,operational-excellence,automation,roadmap'
          stale-issue-label: 'lifecycle/stale'
          close-issue-label: 'lifecycle/closed'
          stale-pr-message: 'This PR has been inactive for 14 days. StaleBot will close this stale PR after 14 more days of inactivity.'
          exempt-pr-labels: 'blocked,needs-review,needs-design'
          stale-pr-label: 'lifecycle/stale'
          close-pr-label: 'lifecycle/closed'
          days-before-stale: 14
          days-before-close: 14
          operations-per-run: 300
